# 操作系统相关文件
.DS_Store
Thumbs.db

# 编辑器和 IDE 配置文件
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# 依赖和构建相关
**/node_modules/
dist/
build/
out/

# 缓存文件和目录
.cache/
.yarn/cache
.pnpm-store/

# 测试和日志相关
coverage/
jest-results.json
*.log

# 环境配置文件
.env
.env.*

